/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
html {
	scroll-behavior: smooth;
}
body {
	line-height: 1;
	background-color: black;
	font-family: 'Source Sans Pro', sans-serif;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
/* Header
-------------*/

#header {
	position: fixed;
	width: 100%;
	transition: 0.5s;
	z-index: 3;
}
header {
	display: flex;
	font-size: 30px;
	padding: 20px 20px 20px 20px;
	background-color: #1f2833;
	color: white;
}

.logo {
	flex: 1;
}
.nav-elements {
	flex: 1;
	float: right;
	display: block;
}
.nav-elements a {
	padding: 0 10px 0 5px;
}
.nav-elements a:hover {
	opacity: 0.7;
}
.nav-elements a:active {
	opacity: 0.3;
}
/* Overlay menu
-------------*/

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 4;
	left: 0;
	top: 0;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
}
.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}
.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
}
.overlay a:hover,
.overlay a:focus,
.icon:hover {
	color: #f1f1f1;
}
.overlay .closeButton {
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 50px;
}
.icon {
	display: none;
	font-size: 30px;
	color: #818181;
	margin: 25px 0px 0 0;
}
/* Sub headers
----------------*/

#web {
	color: white;
	background: rgba(31, 40, 51, 0.7);
	z-index: 2;
	font-size: 40px;
	border-radius: 50px;
	position: relative;
	top: 100px;
	left: 30px;
	font-weight: 900;
	transition: 0.5s;
	max-width: 400px;
	padding: 10px;
	transition: 0.5s;
    text-align: center;
}
#music {
	color: white;
	background: rgba(31, 40, 51, 0.7);
	border-radius: 50px;
	z-index: 2;
	font-size: 40px;
	position: relative;
	top: 100px;
	left: 30px;
	font-weight: 900;
	transition: 0.5s;
	max-width: 400px;
	padding: 10px;
	transition: 0.5s;
    text-align: center;
}
.center {
	text-align: center;
}
/* Web development/music text
----------------*/

#web-text {
	transition: 0.5s;
	opacity: 0;
	margin-left: -3000px;
}
#web-button {
	transition: 1s;
	opacity: 0;
	margin-left: -3000px;
}
#music-text {
	transition: 0.5s;
	opacity: 0;
	margin-left: -3000px;
}
#music-button {
	transition: 1s;
	opacity: 0;
	margin-left: -3000px;
}
.index-text {
	position: absolute;
	top: 300px;
	width: 50vh;
	margin: 0 20px;
	border-radius: 20px;
	background: rgba(31, 40, 51, 0.8);
    color: white;
}
.p-text {
	transition: 0.5s;
	padding: 20px 20px 5px 20px;
	font-size: 20px;
}
.p-text:last-child {
	padding-bottom: 20px;
}
.web-button,
.music-button {
	position: absolute;
	top: 90vh;
	left: 40vw
}
.index-button {
	background-color: #5cdb5c;
	padding: 20px;
	border-radius: 20px;
	transition: 0.5s;
    border: 2px solid black;
}
.index-button:hover {
	cursor: pointer;
	opacity: 0.7;
}
.firstpage {} #firstcontentwrap {
	display: flex;
	height: 100vh;
	width: 100vw;
	transition: 0.5s;
	margin: 0 0 0 0;
	padding: -60px 0 0 0;
}
#left {
	flex: 1;
	transition: 0.5s;
	width: 100%;
}
#right {
	flex: 1;
	transition: 0.5s;
	width: 100%;
}
#left:hover,
#right:hover {
	cursor: pointer;
	opacity: 0.9;
}
.image {
	width: 100%;
	height: 100%;
}
/* Web developer page
-------------------*/

#web-content {
	background-image: url(../images/coding-min.jpg);
	background-size: cover;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.1);
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 0;
}
.web-content-wrap {
	display: flex;
	flex-direction: row;
}
.web-content-1 {
	flex: 1;
	background: rgba(31, 40, 51, 0.7);
	opacity: 1;
	height: 100%;
	margin: 20vh 10vh 20vh 10vw;
	padding: 0 0 50px 0;
	color: white;
}
.web-content-wrap h2 {
	padding: 20px;
	font-size: 50px;
}
.web-content-wrap p:first-of-type {
	padding: 20px 0 0 20px;
}
.web-content-wrap p:last-of-type {
	text-align: center;
}
.web-content-wrap p {
	padding: 10px 0 0 20px;
}
.work-wrap {
	display: flex;
}
.work1,
.work2,
.work3 {
	flex: 1;
	height: 100%;
	min-height: 200px;
	background-color: black;
	color: white;
	margin: 40px 20px 20px 20px;
	padding: 20px;
}
.web-button-web {
	background-color: #5cdb5c;
	color: black;
	display: block;
	margin: 15px;
	padding: 10px 5px 10px 5px;
	text-align: center;
	border-radius: 10px;
    border: 2px solid black;
}
.web-button-web:hover {
	opacity: 0.7;
	cursor: pointer;
}
.web-button-web:active {
	opacity: 0.2;
}
.work-wrap h3 {
	text-align: center;
	padding: 20px;
	font-size: 20px;
	font-weight: 900;
}
.work-wrap h4 {
	text-align: center;
}
/* Got page
-------------------*/

#got-wrap {
	display: flex;
	
}
#got-a,
#space-a,
#decor-a {
	height: 60px;
	margin: -60px 0 0;
}
.got-flex {
	flex: 1;
}
.got-flex h2 {
	text-align: center;
	color: white;
	font-size: 40px;
	font-weight: 900;
	padding: 20px 30px 20px 30px
}
.got-img-wrap {
	text-align: center;
	margin: 20px;
}
.got-img {
	width: 50%;
	height: auto;
}
.got-text p {
	color: white;
	font-size: 20px;
	padding: 5px;
	text-align: center;
	margin: 10px 0 0 0;
}
.go-to-button-wrap,
.go-to-button-wrap-1,
.go-to-button-wrap-2 {
	text-align: center;
}
.go-to-button {
	color: black;
	background-color: #5cdb5c;
	padding: 10px 20px;
	border-radius: 10px;
}
.go-to-button-wrap-1 {
	margin-top: 10px;
}
.go-to-button-wrap-2 {
	margin-top: 40px;
	margin-bottom: 20px;
}
.go-to-button-wrap-2 a {
	margin-right: 25px;
}
.go-to-button:hover {
	cursor: pointer;
	opacity: 0.7;
}
.go-to-button:active {
	opacity: 0.2;
}
#spacex-wrap {
	display: flex;

	border: 2px solid #818181;
	background-color: #818181
}
#decor-wrap {
	display: flex;
}
.space-img {
	width: 50%;
	height: auto;
}
/* Music production page
-------------------*/

.bg-music-image {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url('../images/music-production-4.jpg');
	height: 120vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
}
.music-info-wrap {
	color: white;
	padding: 100px 0 0 0;
}
.music-header h2 {
	text-align: center;
	font-size: 40px;
	margin: 20px 0;
}
.music-info {
	background: rgba(0, 0, 0, 0.5);
	margin: 0 150px;
	padding: 20px 150px;
	border-radius: 10px;
}
.music-info p {
	padding: 5px 0 5px 0;
	font-size: 16px;
}
.spotify {
	min-height: 100%;
}
#music-content {
	padding: 200px 0 0 0;
	color: white;
}
.music-content-wrap {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.music-content-wrap h3 {
	text-align: center;
	font-size: 20px;
	font-weight: 900;
	padding: 10px 0 20px 0;
}
.music-content-wrap p {
	font-size: 16px;
	padding: 5px 0 5px 0;
}
.small-wrap {
	display: flex;
	flex-direction: row;
}
.music-content-wrap-1 {
	flex: 1;
	border: 2px solid #818181;
	min-height: 300px;
	height: 100%;
	margin: 0 5vw 20px 5vw;
	background-color: rgba(0, 0, 0, 0.7);
}
.music-content-wrap-2 {
	flex: 1;
	border: 2px solid #818181;
	background-color: rgba(255, 255, 255, 0.7);
	height: 100%;
	color: black;
	margin-bottom: 20px;
	margin: 0 5vw 20px 5vw;
}
.music-content-wrap-3 {
	border: 2px solid #818181;
	flex: 1;
	background-color: rgba(0, 0, 0, 0.7);
	height: 100%;
	min-height: 10px;
	margin: 0 5vw 20px 5vw;
}
.black {
	text-align: center;
	padding-bottom: 20px;
}
.artist {
	font-size: 18px;
	padding: 0 0 15px 0;
}
.music-content-1 {
	flex: 1;
	height: 100%;
	min-height: 10px;
	padding: 10px;
	margin: 0 10px;
}
.music-content-2 {
	text-align: center;
	flex: 1;
	min-height: 100%;
	padding: 10px;
	margin: 0 10px;
}
.music-content-3 {
	flex: 1;
	height: 100%;
	padding: 10px;
	min-height: 0 10px;
	margin: 0 10px;
}
/* Iframe container
---------*/

.iframe-container {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
}
.iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* CV
-------------------*/

.cv-wrap {
	color: white;
	padding: 100px 0 0 0;
}
.cv-wrap p {
	padding: 10px;
}
.cv-wrap h2 {
	font-size: 50px;
	text-align: center;
}
.education-wrap {
	margin: 100px 0 0 20px;
}
.education-wrap h3 {
	font-size: 30px;
	text-align: left;
}
/* About
-------------------*/

.about-wrap {
	color: white;
	padding: 100px 5vw 100px 5vw;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 100px
}
.about-wrap h2 {
	text-align: center;
	font-size: 50px;
	margin-bottom: 30px;
}
.about-wrap h3 {
	text-align: center;
	font-size: 30px;
	margin-bottom: 30px;
}
.about-wrap p {
	padding: 5px 10vw;
	text-align: justify;
}
/* Contact
-------------------*/


input[type=text],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
}
.image-me {
	text-align: center;
	height: 200px;
}
.contact-header {
	position: relative;
	top: 200px;
	margin: 0 10vw;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

input[type=submit] {
	background-color: #818181;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}
input[type=submit]:hover {
	opacity: 0.7;
}
input[type=submit]:active {
	opacity: 0.3;
}

.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}
.uno {
	display: none;
}
.link {
	border-radius: 10px;
	padding: 0 5px;
	margin: 0 5px;
    background-color: green;
}
.link:hover {
	cursor: pointer;
	opacity: 0.7;
}
.link:active {
	opacity: 0.3;
}

/* Smaller screens
-------------------*/

@media screen and (max-width: 800px) {
	/* Smaller header
-------------------*/
	#header {} header {
		margin: 0;
		font-size: 20px;
	}
	.nav-elements {
		display: none;
	}
	a.icon {
		float: right;
		display: block;
		position: absolute;
		padding: 15px;
		right: 0;
		top: 0;
		margin: 0;
	}
	/* Index page - smaller screen
-------------------*/
	.firstpage {
		height: 100vh;
	}
	#firstcontentwrap {
		flex-direction: column;
		height: 100vh;
		max-height: 100vh;
	}
	#left {
		height: 50vh
	}
	#right {
		height: 50vh
	}
	#web-text {
		transition: 0.5s;
		margin-left: -10000px;
		*/
	}
	#web-button {
		transition: 0.5s;
		margin-left: -10000px;
		*/
	}
	#music-text {
		transition: 0.5s;
		margin-left: -10000px;
	}
	#music-button {
		transition: 0.5s;
		margin-left: -10000px;
	}
	/* Sub headers smaller screen
----------------*/
	#web {
		font-size: 20px;
		position: relative;
		top: 100px;
		left: 30px;
		font-weight: 900;
		transition: 0.5s;
		max-width: 250px;
	}
	#music {
		font-size: 20px;
		position: relative;
		top: 100px;
		left: 30px;
		font-weight: 900;
		transition: 0.5s;
		max-width: 250px;
	}
	.image {}
	/* Index text smaller screen
----------------*/
	.index-text {
		position: absolute;
		top: 180px;
		max-width: 40vh;
		min-width: 20vh;
		margin: 0 20px;
		border-radius: 20px;
		
	}
	.p-text {
		transition: 0.5s;
		padding: 20px 20px 5px 20px;
		font-size: 15px;
	}
	.p-text:last-child {
		padding-bottom: 20px;
	}
	.web-button,
	.music-button {
		position: absolute;
		top: 85vh;
		left: 5vw;
		max-width: 40vh;
	}
	.index-button {
		padding: 20px;
		border-radius: 20px;
		transition: 0.5s;
		font-size: 15px;
	}
	.index-button:hover {
		cursor: pointer;
		opacity: 0.7;
	}
	/* Web developer page - smaller screens
-------------------*/
	#web-content {
		margin: 0 0vw;
	}
	.web-content-wrap {
		display: flex;
		flex-direction: row;
	}
	.web-content-1 {
		height: 100%;
		margin: 8vh 0vh 15vh 0vw;
		padding: 0 0 50px 0;
	}
	.web-content-wrap h2 {
		padding: 20px;
		font-size: 20px;
	}
	.web-content-wrap p:first-of-type {
		padding: 10px 0 0 20px;
	}
	.web-content-wrap p:last-of-type {
		text-align: left;
	}
	.web-content-wrap p {
		padding: 10px 0 0 20px;
		font-size: 16px;
	}
	.work-wrap {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.work1,
	.work2,
	.work3 {
		height: 100%;
		margin: 20px 20px 10px 20px;
		padding: 0px;
		min-height: 100px;
		border-radius: 10px;
	}
	.web-button-web {
		display: inline-block;
		margin: 10px 5px 10px 5px;
		padding: 10px 5px 10px 5px;
		text-align: center;
		border-radius: 10px;
		font-size: 80%;
	}
	.work-wrap h3 {
		text-align: center;
		padding: 10px;
		font-size: 20px;
		font-weight: 900;
	}
	.work-wrap h4 {
		text-align: center;
	}
	/* Got page
-------------------*/
	#got-wrap {
		display: flex;
		
		
	}
	#got-a,
	#space-a,
	#decor-a {
		height: 60px;
		margin: -60px 0 0;
	}
	.got-flex {} .got-flex h2 {
		text-align: center;
		color: white;
		font-size: 22px;
		font-weight: 900;
		padding: 20px 10px 10px 10px
	}
	.got-img-wrap {
		text-align: center;
		margin: 5px 5px 15px 5px;
	}
	.got-img {
		width: 70%;
	}
	.got-text p {
		color: white;
		font-size: 20px;
		padding: 5px;
		text-align: center;
		margin: 10px 0 0 0;
	}
	.go-to-button-wrap,
	.go-to-button-wrap-1,
	.go-to-button-wrap-2 {
		text-align: center;
	}
	.go-to-button {
		padding: 5px 5px;
		border-radius: 10px;
	}
	.go-to-button-wrap-1 {
		margin-top: 10px;
	}
	.go-to-button-wrap-2 {
		margin-top: 30px;
	}
	.go-to-button-wrap-2 a {
		margin-right: 10px;
	}
	.go-to-button:hover {
		cursor: pointer;
		opacity: 0.7;
	}
	.go-to-button:active {
		opacity: 0.2;
	}
	#spacex-wrap {
		display: flex;
		border: 2px solid #818181;
		background-color: #818181
	}
	.space-img {
		width: 80%;
		height: auto;
	}
	.uno {
		display: none;
	}
	.col-25,
	.col-75,
	input[type=submit] {
		width: 100%;
		margin-top: 0;
	}
	/* Music production page
-------------------*/
	.bg-music-image {
		height: 100vh;
		background-position: top;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.music-info-wrap {
		color: white;
		padding: 100px 0 0 0;
	}
	.music-header h2 {
		text-align: center;
		font-size: 40px;
		margin: 20px 0;
	}
	.music-info {
		background: rgba(0, 0, 0, 0.5);
		margin: 0 0px;
		padding: 20px 20px;
		border-radius: 10px;
	}
	.music-info p {
		padding: 5px 0 5px 0;
		font-size: 16px;
	}
	#music-content {
		padding: 100px 0 0 0;
	}
	.music-content-wrap {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	.music-content-wrap h3 {
		font-size: 20px;
	}
	.music-content-wrap p {
		font-size: 16px;
		padding: 5px 0 5px 0;
	}
	.small-wrap {
		display: flex;
		flex-direction: column;
	}
	.music-content-wrap-1 {
		flex: 1;
		border: 2px solid #818181;
		min-height: 300px;
		height: 100%;
		margin: 0 5vw 20px 5vw;
		background-color: rgba(0, 0, 0, 0.7);
		flex-direction: column;
	}
	.music-content-wrap-2 {
		flex: 1;
		border: 2px solid #818181;
		background-color: rgba(255, 255, 255, 0.7);
		height: 100%;
		color: black;
		margin-bottom: 20px;
		margin: 0 5vw 20px 5vw;
	}
	.music-content-wrap-3 {
		border: 2px solid #818181;
		flex: 1;
		background-color: rgba(0, 0, 0, 0.7);
		height: 100%;
		min-height: 10px;
		margin: 0 5vw 20px 5vw;
	}
	.music-content-1 {
		flex: 1;
		height: 100%;
		min-height: 10px;
		padding: 10px;
		margin: 10px 10px;
	}
	.music-content-2 {
		text-align: center;
		flex: 1;
		min-height: 100%;
		padding: 10px;
		margin: 10px 10px;
	}
	.music-content-3 {
		flex: 1;
		height: 100%;
		padding: 10px;
		min-height: 0 10px;
		margin: 10px 10px;
	}
	/* Iframe container
---------*/
	.iframe-container {
		position: relative;
		width: 100%;
		padding-bottom: 56.25%;
		height: 0;
	}
	.iframe-container iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	/* About
-------------------*/
	.about-wrap {
		color: white;
		padding: 100px 0 100px 0;
		background-color: black;
		margin: 0 0;
	}
	.about-wrap h2 {
		text-align: center;
		font-size: 40px;
		margin-bottom: 20px;
	}
	.about-wrap h3 {
		text-align: center;
		font-size: 20px;
		margin-bottom: 20px;
	}
	.image-me {
		max-width: 90%;
		max-height: 90%;
		margin: 10px;
	}

}
